/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import 'variables';

 @font-face {
   font-family: armalite;
   src: url(../fonts/armalite.ttf);
 }

 @keyframes fly {
   0%   {top: 5%; left: 5%;}
   25%  {top: 60%; left: 80%;}
   50%  {top: 60%; left: 5%; transform: scaleX(-1);}
   75%  {top: 5%; left: 80%;}
   100% {top: 5%; left: 5%;}
 }

 html {
   background-color: $light-blue;
   background-color: linear-gradient(to bottom right, $light-blue, $white);
   background-image: url('../../images/explosion-bg.jpg');
   background-size: cover;
   height: 100%;
 }

 body {
   margin: 0;
   margin-top: 25px;
   text-align: center;
   overflow-x: hidden;
   color: $text-dark;
 }

 .main {
   width: 80%;
   margin: auto;
 }

 .left {
   text-align: left;
 }

 #eagle {
   animation-name: zoomInDown;
   animation-duration: 2000ms;
 }

 .gsc-control-cse {
   background: transparent;
 }

 #flyingEagle {
   position: absolute;
   width: 15%;
   height: auto;
   animation-name: fly;
   animation-duration: 4000ms;
   animation-iteration-count: infinite;
   z-index: -1;
 }

 .eagle{
  &:hover {
    animation-name: swing;
    animation-duration: 500ms;
  }
}

.header {
   font-family: armalite;
   text-shadow: 1px 1px 2px $white, 0 0 1em $white, 0 0 0.2em $white;
   margin-bottom: 25px;
 }

 h1 {
   @extend .header;
   font-size: 5em;
   position: absolute;
   top: 200px;
   left: 20%;
 }

 h2 {
   @extend .header;
   font-size: 4em;
 }

 h3 {
   @extend .header;
   font-size: 3em;
 }

.input {
   font-size: 40px;
   &:focus {
     outline:0;
   }
 }

 input {
   @extend .input;
   border: none;
   border-bottom: 5px solid $text-dark;
   margin-right: 15px;
   background: transparent;
   color: $text-dark;
   &::placeholder {
     color: $white;
   }
 }

 button {
   @extend .input;
   @extend .header;
   border: none;
   border-radius: 5px;
   background: none;
   padding: 6px 16px;
   &:hover {
     color: $text-light;
   }
   &:active {
     color: $text-light2;
   }
 }

 p {
   opacity: 0.5;
 }

 audio {
   opacity: 0;
   height: 0px;
   width: 0px;
 }

 footer {
   font-family: helvetica;
   width: 99%;
   margin: auto;
   padding: 20px;
   position: absolute;
   bottom: 0px;
   color: $text-light;
   background: $black;
   a {
     font-weight: bold;
     color: $white;
   }
 }
